# Java e Maven (Backend)
**/target/
**/*.class
**/.mvn/
**/.idea/
**/*.iml
**/bin/
**/*.jar
**/*.war

# Node e Vue (Frontend)
**/node_modules/
**/dist/
**/dist-ssr/
**/*.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Editor e Sistema
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?